@use '@/style/utils';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-block-size: 100dvh;
}

/* Fix for fullscreen page in PWA */

// html,
// body,
// #root {
//   inline-size: 100%;inline-size
//   max-inline-size: 100%;max-inline-size
//   block-size: 100%;block-size
//   min-block-size: 100%;min-block-size
// }

// html {
//   min-block-size: calc(100% + env(safe-area-inset-top));min-block-size
// }

/* END fix */

/* stylelint-disable custom-property-pattern */
$nextUiPrimary: hsl(var(--nextui-primary) / var(--nextui-primary-opacity, var(--tw-bg-opacity)));
$nextUiPrimaryHover: hsl(var(--nextui-primary) / var(--nextui-hover-opacity, var(--tw-bg-opacity)));
$nextUiBackground: hsl(
  var(--nextui-background) / var(--nextui-background-opacity, var(--tw-bg-opacity))
);

/* stylelint-enable custom-property-pattern */

* {
  outline-color: $nextUiPrimary;
}

.visually-hidden:not(:focus, :active, :focus-within),
.strict-visually-hidden {
  @include utils.visually-hidden;
}

.skip-link {
  position: fixed;
  z-index: 10000;
  inset-block-start: 0;
  inset-inline-start: 50%;
  transform: translateX(-50%);

  padding-block: 0.5rem;
  padding-inline: 1rem;

  color: #fff;
  text-decoration: none;

  background-color: $nextUiPrimary;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
}
